<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="/resources/css/site.css"/>
</head>
<body>
<div class="container">
    <h2>Hello World from Thymeleaf View!!!</h2>

    <h3 th:text="${name}"></h3>

    <p class="author-name"> My name is <span th:text="${author.name}"></span></p>

    <ul>
        <li th:each="s : ${authors}">
            Name is <span th:text="${s.name}"></span>
        </li>
    </ul>

    <form action="/save" method="post">
        <input type="text" name="title"/>
        <input type="submit" value="Save"/>
    </form>

    <form action="/save2" th:object="${newAuthor}" method="post">
        <input type="text" th:field="*{name}"/>
        <input type="submit" value="Save"/>
    </form>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.0/jquery.js}"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}" rel="stylesheet"></script>
<script src="/resources/js/site.js" language="JavaScript"/>
</body>
</html>